.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f7c39d;
}

.left{
	float: left;
}

.right{
	float: right;
}

.identity{
	margin-right: 50px;
}

.nav-left{
	position: fixed;
	top: 10%;
	left: 0;
	z-index: 1;
	height: 80%;
	width: 15%;
	padding-top: 20px;
	background-color: rgba(254, 232, 208, 0.6);
}

.nav-link{
	margin: 15px 0;
	margin-left: 20px;
}

.nav-link a{
	color: #f7a8a8;
	text-decoration: none;
}

.nav-link a:hover{
	background-color: #eff159;
	padding: 5px 10px;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
}

footer{
	width: 100%;
	background-color: yellow;
	margin-top: 50px;
	padding: 15px 30px;
}

.logo{
	height: 40px;
	width: 40px;
}

.container{
	margin-top: 5%;
	margin-left: 17%;
	width: 80%;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.col-ss-1, .col-ss-2, .col-ss-3,
.col-ss-4, .col-ss-5, .col-ss-6,
.col-ss-7, .col-ss-8, .col-ss-9,
.col-ss-10, .col-ss-11, .col-ss-12,
.col-s-1, .col-s-2, .col-s-3,
.col-s-4, .col-s-5, .col-s-6,
.col-s-7, .col-s-8, .col-s-9,
.col-s-10, .col-s-11, .col-s-12,
.col-m-1, .col-m-2, .col-m-3,
.col-m-4, .col-m-5, .col-m-6,
.col-m-7, .col-m-8, .col-m-9,
.col-m-10, .col-m-11, .col-m-12,
.col-l-1, .col-l-2, .col-l-3,
.col-l-4, .col-l-5, .col-l-6,
.col-l-7, .col-l-8, .col-l-9,
.col-l-10, .col-l-11, .col-l-12,
.col-xl-1, .col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9,
.col-xl-10, .col-xl-11, .col-xl-12{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin-right: 15px;
	margin-left: 15px;
}

@media screen and(min-device-width: 320px){
	.col-ss-1, .col-ss-2, .col-ss-3,
	.col-ss-4, .col-ss-5, .col-ss-6,
	.col-ss-7, .col-ss-8, .col-ss-9,
	.col-ss-10, .col-ss-11, .col-ss-12{
		float: left;
	}

	.col-ss-1{
		width: 8.33333333%;
	}
	.col-ss-2{
		width: 16.6666666%;
	}
	.col-ss-3{
		width: 25%;
	}
	.col-ss-4{
		width: 33.3333333%;
	}
	.col-ss-5{
		width: 41.6666666%;
	}
	.col-ss-6{
		width: 50%;
	}
	.col-ss-7{
		width: 58.3333333%;
	}
	.col-ss-8{
		width: 66.6666666%; 
	}
	.col-ss-9{
		width: 75%;
	}
	.col-ss-10{
		width:  83.3333333%;
	}
	.col-ss-11{
		width: 91.66666666%;
	}
	.col-ss-12{
		width: 100%;
	}
	.col-ss-blank-0 {
		margin-left: 0;
	}
	.col-ss-blank-1 {
		margin-left: 8.33333333%;
	}
	.col-ss-blank-2 {
		margin-left: 16.66666667%;
	}
	.col-ss-blank-3 {
		margin-left: 25%;
	}
	.col-ss-blank-4 {
		margin-left: 33.33333333%;
	}
	.col-ss-blank-5 {
		margin-left: 41.66666667%;
	}
	.col-ss-blank-6 {
		margin-left: 50%;
	}
	.col-ss-blank-7 {
		margin-left: 58.33333333%;
	}
	.col-ss-blank-8 {
		margin-left: 66.66666667%;
	}
	.col-ss-blank-9 {
		margin-left: 75%;
	}
	.col-ss-blank-10 {
		margin-left: 83.33333333%;
	}
	.col-ss-blank-11 {
		margin-left: 91.66666667%;
	}
	.col-ss-blank-12 {
		margin-left: 100%;
	}
}

@media screen and (min-device-width: 420px){
	.col-s-1, .col-s-2, .col-s-3,
	.col-s-4, .col-s-5, .col-s-6,
	.col-s-7, .col-s-8, .col-s-9,
	.col-s-10, .col-s-11, .col-s-12{
		float: left;
	}

	.col-s-1{
		width: 8.33333333%;
	}
	.col-s-2{
		width: 16.6666666%;
	}
	.col-s-3{
		width: 25%;
	}
	.col-s-4{
		width: 33.3333333%;
	}
	.col-s-5{
		width: 41.6666666%;
	}
	.col-s-6{
		width: 50%;
	}
	.col-s-7{
		width: 58.3333333%;
	}
	.col-s-8{
		width: 66.6666666%; 
	}
	.col-s-9{
		width: 75%;
	}
	.col-s-10{
		width:  83.3333333%;
	}
	.col-s-11{
		width: 91.66666666%;
	}
	.col-s-12{
		width: 100%;
	}
	.col-s-blank-0 {
		margin-left: 0;
	}
	.col-s-blank-1 {
		margin-left: 8.33333333%;
	}
	.col-s-blank-2 {
		margin-left: 16.66666667%;
	}
	.col-s-blank-3 {
		margin-left: 25%;
	}
	.col-s-blank-4 {
		margin-left: 33.33333333%;
	}
	.col-s-blank-5 {
		margin-left: 41.66666667%;
	}
	.col-s-blank-6 {
		margin-left: 50%;
	}
	.col-s-blank-7 {
		margin-left: 58.33333333%;
	}
	.col-s-blank-8 {
		margin-left: 66.66666667%;
	}
	.col-s-blank-9 {
		margin-left: 75%;
	}
	.col-s-blank-10 {
		margin-left: 83.33333333%;
	}
	.col-s-blank-11 {
		margin-left: 91.66666667%;
	}
	.col-s-blank-12 {
		margin-left: 100%;
	}
}

@media screen and (min-device-width: 768px){
	.col-m-1, .col-m-2, .col-m-3,
	.col-m-4, .col-m-5, .col-m-6,
	.col-m-7, .col-m-8, .col-m-9,
	.col-m-10, .col-m-11, .col-m-12{
		float: left;
	}

	.col-m-1{
		width: 8.33333333%;
	}
	.col-m-2{
		width: 16.6666666%;
	}
	.col-m-3{
		width: 25%;
	}
	.col-m-4{
		width: 33.3333333%;
	}
	.col-m-5{
		width: 41.6666666%;
	}
	.col-m-6{
		width: 50%;
	}
	.col-m-7{
		width: 58.3333333%;
	}
	.col-m-8{
		width: 66.6666666%; 
	}
	.col-m-9{
		width: 75%;
	}
	.col-m-10{
		width:  83.3333333%;
	}
	.col-m-11{
		width: 91.66666666%;
	}
	.col-m-12{
		width: 100%;
	}
	.col-m-blank-0 {
		margin-left: 0;
	}
	.col-m-blank-1 {
		margin-left: 8.33333333%;
	}
	.col-m-blank-2 {
		margin-left: 16.66666667%;
	}
	.col-m-blank-3 {
		margin-left: 25%;
	}
	.col-m-blank-4 {
		margin-left: 33.33333333%;
	}
	.col-m-blank-5 {
		margin-left: 41.66666667%;
	}
	.col-m-blank-6 {
		margin-left: 50%;
	}
	.col-m-blank-7 {
		margin-left: 58.33333333%;
	}
	.col-m-blank-8 {
		margin-left: 66.66666667%;
	}
	.col-m-blank-9 {
		margin-left: 75%;
	}
	.col-m-blank-10 {
		margin-left: 83.33333333%;
	}
	.col-m-blank-11 {
		margin-left: 91.66666667%;
	}
	.col-m-blank-12 {
		margin-left: 100%;
	}
}

@media screen and (min-device-width: 1000px){
	.col-l-1, .col-l-2, .col-l-3,
	.col-l-4, .col-l-5, .col-l-6,
	.col-l-7, .col-l-8, .col-l-9,
	.col-l-10, .col-l-11, .col-l-12{
		float: left;
	}

	.col-l-1{
		width: 8.33333333%;
	}
	.col-l-2{
		width: 16.6666666%;
	}
	.col-l-3{
		width: 25%;
	}
	.col-l-4{
		width: 33.3333333%;
	}
	.col-l-5{
		width: 41.6666666%;
	}
	.col-l-6{
		width: 50%;
	}
	.col-l-7{
		width: 58.3333333%;
	}
	.col-l-8{
		width: 66.6666666%; 
	}
	.col-l-9{
		width: 75%;
	}
	.col-l-10{
		width:  83.3333333%;
	}
	.col-l-11{
		width: 91.66666666%;
	}
	.col-l-12{
		width: 100%;
	}
	.col-l-blank-0 {
		margin-left: 0;
	}
	.col-l-blank-1 {
		margin-left: 8.33333333%;
	}
	.col-l-blank-2 {
		margin-left: 16.66666667%;
	}
	.col-l-blank-3 {
		margin-left: 25%;
	}
	.col-l-blank-4 {
		margin-left: 33.33333333%;
	}
	.col-l-blank-5 {
		margin-left: 41.66666667%;
	}
	.col-l-blank-6 {
		margin-left: 50%;
	}
	.col-l-blank-7 {
		margin-left: 58.33333333%;
	}
	.col-l-blank-8 {
		margin-left: 66.66666667%;
	}
	.col-l-blank-9 {
		margin-left: 75%;
	}
	.col-l-blank-10 {
		margin-left: 83.33333333%;
	}
	.col-l-blank-11 {
		margin-left: 91.66666667%;
	}
	.col-l-blank-12 {
		margin-left: 100%;
	}
}


@media screen and (min-device-width: 1200px){
	.col-xl-1, .col-xl-2, .col-xl-3,
	.col-xl-4, .col-xl-5, .col-xl-6,
	.col-xl-7, .col-xl-8, .col-xl-9,
	.col-xl-10, .col-xl-11, .col-xl-12{
		float: left;
	}

	.col-xl-1{
		width: 8.33333333%;
	}
	.col-xl-2{
		width: 16.6666666%;
	}
	.col-xl-3{
		width: 25%;
	}
	.col-xl-4{
		width: 33.3333333%;
	}
	.col-xl-5{
		width: 41.6666666%;
	}
	.col-xl-6{
		width: 50%;
	}
	.col-xl-7{
		width: 58.3333333%;
	}
	.col-xl-8{
		width: 66.6666666%; 
	}
	.col-xl-9{
		width: 75%;
	}
	.col-xl-10{
		width:  83.3333333%;
	}
	.col-xl-11{
		width: 91.66666666%;
	}
	.col-xl-12{
		width: 100%;
	}
	.col-xl-blank-0 {
		margin-left: 0;
	}
	.col-xl-blank-1 {
		margin-left: 8.33333333%;
	}
	.col-xl-blank-2 {
		margin-left: 16.66666667%;
	}
	.col-xl-blank-3 {
		margin-left: 25%;
	}
	.col-xl-blank-4 {
		margin-left: 33.33333333%;
	}
	.col-xl-blank-5 {
		margin-left: 41.66666667%;
	}
	.col-xl-blank-6 {
		margin-left: 50%;
	}
	.col-xl-blank-7 {
		margin-left: 58.33333333%;
	}
	.col-xl-blank-8 {
		margin-left: 66.66666667%;
	}
	.col-xl-blank-9 {
		margin-left: 75%;
	}
	.col-xl-blank-10 {
		margin-left: 83.33333333%;
	}
	.col-xl-blank-11 {
		margin-left: 91.66666667%;
	}
	.col-xl-blank-12 {
		margin-left: 100%;
	}
}

.filter{
	display: inline-block;
	width: 100%;
	background-color: #f1f1f1;
}

.filter .right{
	margin-right: 100px;
}

.dataTable{
 	display:block;
 	text-align:center;
    margin: 12px 0;
    line-height: 80px;
}

.dataTable select{
 display:inline-block;
 padding:0 15px;
 height:40px;border:0;
 outline:1px solid #c9c9c9;
 outline-offset:-1px;
 outline-style:outline;
 background:#fff;
 -webkit-border-radius:0;
 -khtml-border-radius:0;
 -moz-border-radius:0;
 -ms-border-radius:0;
 -o-border-radius:0;
 border-radius:0;
}

#searchText {
    background-image: url('../img/sprites-icon/icon-search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px 0;
}

#table {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

#table th, #table td {
    padding: 12px;
}

#table tr {
    border-bottom: 1px solid #ddd; 
}

#table tr.header, #table tr:hover {
    background-color: #f1f1f1;
}

.center{
	text-align: center;
}